aiodns==2.0.0
aiofiles==0.4.0
aiohttp==3.6.2
altgraph==0.17
aniso8601==7.0.0
ansible==2.9.2
apispec==3.3.0
apistar==0.7.2
appnope==0.1.0
async-timeout==3.0.1
attrs==19.3.0
backcall==0.1.0
beautifulsoup4==4.9.0
bottle==0.12.18
bottle-websocket==0.2.9
cachetools==4.1.0
cchardet==2.1.6
certifi==2019.11.28
cffi==1.13.2
chardet==3.0.4
chromedriver-binary==83.0.4103.39.0
Click==7.0
cryptography==2.8
Cython==0.29.14
decorator==4.4.1
docopt==0.6.2
Eel==0.12.2
Flask==1.0.2
Flask-Sockets==0.2.1
Flask-SQLAlchemy==2.4.1
Flask-WTF==0.14.3
future==0.18.2
gevent==1.4.0
gevent-websocket==0.10.1
google-auth==1.14.1
google-auth-oauthlib==0.4.1
graphene==2.1.8
graphql-core==2.3.1
graphql-relay==2.0.1
graphql-server-core==1.2.0
greenlet==0.4.15
gspread==3.6.0
gunicorn==19.9.0
h11==0.9.0
httplib2==0.17.3
httptools==0.0.13
idna==2.8
influxdb==5.2.3
ipython==7.11.1
ipython-genutils==0.2.0
itsdangerous==1.1.0
jedi==0.15.2
Jinja2==2.10.3
line-profiler==2.1.1
lxml==4.5.0
macholib==1.14
Markdown==3.2.1
MarkupSafe==1.1.1
marshmallow==3.5.0
memory-profiler==0.57.0
multidict==4.7.5
numpy==1.18.1
oandapyV20==0.6.3
oauth2client==4.1.3
oauthlib==3.1.0
pandas==1.0.1
parso==0.5.2
pexpect==4.7.0
pickleshare==0.7.5
Pillow==7.1.2
promise==2.3
prompt-toolkit==3.0.2
psutil==5.6.7
ptyprocess==0.6.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycares==3.1.1
pycparser==2.19
Pygments==2.5.2
PyInstaller==3.6
PyMySQL==0.9.3
python-dateutil==2.8.1
python-multipart==0.0.5
pytz==2019.3
PyYAML==5.4
qrcode==6.1
requests==2.22.0
requests-oauthlib==1.3.0
requests-toolbelt==0.9.1
responder==2.0.5
rfc3986==1.3.2
rsa==4.0
Rx==1.6.1
selenium==3.141.0
six==1.13.0
soupsieve==2.0
SQLAlchemy==1.3.12
starlette==0.12.13
traitlets==4.3.3
typesystem==0.2.4
urllib3==1.25.7
uvicorn==0.10.9
uvloop==0.14.0
wcwidth==0.1.8
websockets==8.1
Werkzeug==0.16.0
whichcraft==0.6.1
whitenoise==5.0.1
WTForms==2.3.1
yarl==1.4.2
