{% extends 'layout.html' %}
{% block title %}
    buyma_helper
{% endblock %}

{% block headline %}
    {{ title }}
{% endblock %}

{% block content %}

<!--vue.js container-->
<div id="app" class="m-3">
    <mycomp />
</div>


<!--mycomp's template-->
{% raw %}
<script type="text/x-template" id="mycomp-template">
<div>

<div class="alert alert-info p-1">
    <h5>{{alert_msg}}</h5>
</div>

<!--パネルタブ-->
<ul class="nav nav-tabs" role="tablist">
    <li class="nav-item"><a href="#sixs" class="nav-link active" data-toggle="tab" role="tab">リサーチ</a></li>
    <li class="nav-item"><a href="#seven" class="nav-link" data-toggle="tab" role="tab">販売リサーチ</a></li>
    <li class="nav-item"><a href="#home" class="nav-link" data-toggle="tab" role="tab">商品情報取得</a></li>
    <li class="nav-item"><a href="#second" class="nav-link" data-toggle="tab" role="tab">画像加工</a></li>
    <li class="nav-item"><a href="#thred" class="nav-link" data-toggle="tab" role="tab">在庫管理</a></li>
    <li class="nav-item"><a href="#fours" class="nav-link" data-toggle="tab" role="tab">お掃除</a></li>
    <li class="nav-item"><a href="#fifs" class="nav-link" data-toggle="tab" role="tab">BUYMA</a></li>
</ul>

<!--パネルコンテンツ-->
<div class="tab-content">
    <!--リサーチパネルコンテンツ-->
    <div class="tab-pane fade show active" id="sixs" role="tabpanel">
        <!--リサーチのグループ-->
        <div class="form-group">
            <h4>【BUYMAブランドスクレイピングリサーチ】</h4>
            <label for="r_url">スクレイピング対象のURL(BUYMAのブランド・カテゴリで絞ったURL)</label>
            <input type="text" id="r_url" name="r_url" class="form-control" placeholder="http://www.xxx.com" v-model="research_url">
            <button v-on:click="postScraping" class="btn btn-primary">スクレイピング 開始</button>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th>タイトル</th>
                    <th>価格</th>
                    <th>ステータス</th>
                    <th>名前</th>
                    <th>カテゴリー</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="item in research_bland_data">
                    <th>{{item.title}}</th>
                    <th>{{item.price}}</th>
                    <th>{{item.shopper_status}}</th>
                    <th>{{item.shopper_name}}</th>
                    <th>{{item.category}}</th>
                </tr>
            </tbody>
        </table>
    </div>
    <!--受注リサーチパネルコンテンツ-->
    <div class="tab-pane fade p-3" id="seven" role="tabpanel">
        <!--受注リサーチのグループ-->
        <div class="form-group">
            <h4>【BUYMA受注リサーチ】</h4>
            <label for="sal_url">対象のURL(ブランドスクレイピングしたURL)アクセス制限に引っかかるので多様禁止！！</label>
            <input type="text" id="sal_url" name="sal_url" class="form-control" placeholder="http://www.xxx.com" v-model="saled_url">
            <label for="bland_name">対象のブランド名(受注リストから抽出する)</label>
            <input type="text" id="bland_name" name="bland_name" class="form-control" placeholder="Gucci" v-model="saled_bland">
            <button v-on:click="postSaled" class="btn btn-primary">受注確認</button>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th>タイトル</th>
                    <th>日付</th>
                    <th>商品URL</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="item in saled_data">
                    <th>{{item.title}}</th>
                    <th>{{item.dates}}</th>
                    <th>{{item.item_url}}</th>
                </tr>
            </tbody>
        </table>
    </div>
    <!--情報取得パネルコンテンツ-->
    <div class="tab-pane fade p-3" id="home" role="tabpanel">
        <!--対象サイト選択のグループ-->
        <div class="form-group col">
            <h4>【対象サイト】</h4>
            <label for="site">サイト名</label>
            <select type="text" id="site" name="site" class="form-control" placeholder="" v-model="post_site">
                <option value="farfetch">farfetch</option>
                <option value="ASOS">ASOS</option>
            </select>
        </div>
        <!--URLリスト取得のグループ-->
        <div class="form-group p-3">
            <h4>【URLリスト取得】</h4>
            <label for="url">URL</label>
            <input type="text" id="url" name="url" class="form-control" placeholder="http://xxxxx@xxxx.com" v-model="post_url">
            <button v-on:click="postUrl" class="btn btn-primary col-3 col-sm-3 col-md-2 col-lg-2 col-xl-2">URLリスト取得</button>
        </div>
        <!--情報取得のグループ-->
        <h4>【商品情報取得】</h4>
        <div class="form-row">
            <div class="form-group col">
                <label for="category">カテゴリ</label>
                <select type="text" id="category" name="category" class="form-control" placeholder="" v-model="post_category">
                    <option value="レディース">レディース</option>
                    <option value="メンズ">メンズ</option>
                    <option value="その他">その他</option>
                </select>
            </div>
            <div class="form-group col">
                <label for="deadline">購入期限</label>
                <input type="text" id="deadline" name="deadline" class="form-control" placeholder="yyyy/mm/dd" v-model="post_deadline">
            </div>
            <div class="form-group col">
                <label for="post">ポスト</label>
                <input type="text" id="post" name="post" class="form-control" placeholder="" v-model="post">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col">
                <label for="catchcopy">キャッチコピー</label>
                <input type="text" id="catchcopy" name="catchcopy" class="form-control" placeholder="【送料輸入税込】" v-model="post_catchcopy">
            </div>
            <div class="form-group col">
                <label for="overship">海外送料</label>
                <input type="text" id="overship" name="overship" class="form-control" placeholder="1234" v-model="post_overship">
            </div>
            <div class="form-group col">
                <label for="exchange">為替</label>
                <input type="text" id="exchange" name="exchange" class="form-control" placeholder="1" v-model="post_exchange">
            </div>
        </div>
            <button v-on:click="getDescription" class="btn btn-primary col-3 col-sm-3 col-md-2 col-lg-2 col-xl-2">商品情報取得</button>
    </div>

    <!--パネルコンテンツ-->
    <div class="tab-pane fade p-3" id="second" role="tabpanel">
        <!--画像加工のグループ-->
        <div class="form-group p-3">
            <h4>【画像加工】</h4>
                <label for="backgroundimg">背景画像</label>
                <input type="text" id="backgroundimg" name="backgroundimg" class="form-control" placeholder="img.jpg" v-model="post_backgroundimg">
                <label for="title">テキスト</label>
                <input type="text" id="title" name="title" class="form-control" placeholder="Gucci" v-model="post_title">
                <label for="font">フォント</label>
                <input type="text" id="font" name="font" class="form-control" placeholder="Oranienbaum.ttf" v-model="post_font">
                <label for="pattern">パターン</label>
                <select type="text" id="pattern" name="pattern" class="form-control" placeholder="" v-model="post_pattern">
                    <option value="white_bg">white_bg</option>
                    <option value="black_margin">black_margin</option>
                    <option value="その他">その他</option>
                </select>
            <button v-on:click="postImage" class="btn btn-primary col-3 col-sm-3 col-md-2 col-lg-2 col-xl-2">画像加工</button>
        </div>
    </div>

    <!--在庫管理パネルコンテンツ-->
    <div class="tab-pane fade p-3" id="thred" role="tabpanel">
        <!--在庫管理のグループ-->
        <div class="form-group">
            <h4>【在庫削除】</h4>
            <label for="id">在庫ID</label>
            <input type="text" id="id" name="id" class="form-control" placeholder="1,2,3,4... or 123-456" v-model="post_id">
            <button v-on:click="delStock" class="btn btn-primary col-3 col-sm-3 col-md-2 col-lg-2 col-xl-2">在庫削除</button>
        </div>
        <br><br>
        <div class="form-group">
            <h4>【在庫確認】</h4>
            <label for="sid">在庫ID(スライスだから,在庫ID+1になる)</label>
            <input type="text" id="sid" name="sid" class="form-control" placeholder="0:100" v-model="stock_id">
            <button v-on:click="getStock" class="btn btn-primary">在庫確認</button>
        </div>
        <br><br>
        <h4>【BUYMA情報取得】BUYMAのIDとURLをDBに保存する</h4>
        <button v-on:click="getBuyma" class="btn btn-primary">BUYMA情報取得</button>
        <br><br>
        <h4>【BUYMA出品停止】在庫のない商品を出品停止中に変更する</h4>
        <button v-on:click="stopBuyma" class="btn btn-primary">BUYMA出品停止</button>
    </div>

    <!--お掃除パネルコンテンツ-->
    <div class="tab-pane fade p-3" id="fours" role="tabpanel">
        <!--お掃除のグループ-->
        <h4>【スプレッドシート削除】</h4>
        <button v-on:click="delSs" class="btn btn-primary" id="delete_spreadsheet">SP削除</button>
        <br><br>
        <h4>【商品画像フォルダ削除】</h4>
        <button v-on:click="delImg" class="btn btn-primary" id="delete_img_dir">画像削除</button>
    </div>
    <!--BUYMAパネルコンテンツ-->
    <div class="tab-pane fade p-3" id="fifs" role="tabpanel">
        <!--BUYMAのグループ-->
        <br><br>
        <h4>【BUYMAデータ取得】BUYMAの売上データをDBに保存する。一日一回実行する</h4>
        <button v-on:click="dataBuyma" class="btn btn-primary">BUYMAデータ取得</button>
        <table class="table">
            <thead>
                <tr>
                    <th>売上順位</th>
                    <th>成約順位</th>
                    <th>フォロワー数</th>
                    <th>アクセス数</th>
                    <th>お気に入り数</th>
                    <th>日付</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="item in bym_data">
                    <th>{{item.sales}}</th>
                    <th>{{item.close}}</th>
                    <th>{{item.follower}}</th>
                    <th>{{item.access}}</th>
                    <th>{{item.like}}</th>
                    <th>{{item.created}}</th>
                </tr>
            </tbody>
        </table>
    </div>

</div>

</div>
</script>
{% endraw %}


<!--Vue.js script-->
<script>
Vue.component('mycomp', {
    template: '#mycomp-template',
    data: function() {
        return {
            post_url: '',
            alert_msg: '対象サイトの入力を忘れないで！！',
            post_id: '',
            post_deadline: '',
            post_overship: '',
            post_exchange: '1',
            post_category: 'メンズ',
            post_catchcopy: '【送料輸入税込】',
            stock_id: '',
            bym_data: ['','','','','',''],
            post_site: '',
            post_backgroundimg: '',
            post_title: '',
            post_font: '',
            research_url: '',
            research_bland_data: ['','','','','',],
            saled_url: '',
            saled_bland: '',
            post_pattern: ''
        }
    },
    methods:{
        // post_url
        postUrl: function() {
            this.alert_msg = '一括取得実行中です。けっこう時間かかります。しばらくお待ちください。';
            let formData = new FormData();
            formData.append("url", this.post_url);
            if (this.post_site == 'farfetch'){
                post_url = '/post'
            }else if (this.post_site == 'ASOS'){
                post_url = '/aso_post'
            };
            let self = this;
            $.ajax({
                type: 'POST',
                url: post_url,
                data: formData,
                processData: false,
                contentType: false,

                success: function(data) {
                    if(data != null){
                        self.post_url = '';
                        self.alert_msg = '終了しました！！';
                    }
                },
                error: function(request, status, err) {
                    self.alert_msg = 'URL送信時にエラーが発生しました。';
                }
            });
        },
        // get_description
        getDescription: function(){
            this.alert_msg = '商品情報取得実行中です。けっこう時間かかります。しばらくお待ちください。';
            let formData = new FormData();
            formData.append("deadline", this.post_deadline);
            formData.append("overship", this.post_overship);
            formData.append("exchange", this.post_exchange);
            formData.append("category", this.post_category);
            formData.append("catchcopy", this.post_catchcopy);
            if (this.post_site == 'farfetch'){
                post_url = '/post_desc'
            }else if (this.post_site == 'ASOS'){
                post_url = '/aso_post_desc'
            };
            let self = this;
            $.ajax({
                type: 'POST',
                url: post_url,
                data: formData,
                processData: false,
                contentType: false,

                success: function(data) {
                    if(data != null){
                        self.alert_msg = '終了しました.';
                    }
                },
                error: function(request, status, err) {
                    self.alert_msg = 'URL送信時にエラーが発生しました。';
                }
            });
        },
        // delete_img
        delImg: function(){
            this.alert_msg = '商品情報取得実行中です。けっこう時間かかります。しばらくお待ちください。';
            let self = this;
            $.get("/del_img", function(data){
                if (data == 'True') {
                    self.alert_msg = '消えた';
                } else {
                    self.alert_msg = data;
                }
            });
        },
        // check_stock
        getStock: function(){
            this.alert_msg = '在庫確認実行中です。けっこう時間かかります。しばらくお待ちください。';
            let formData = new FormData();
            formData.append("sid", this.stock_id);
            let self = this;
            $.ajax({
                type: 'POST',
                url: '/get_stock',
                data: formData,
                processData: false,
                contentType: false,

                success: function(data) {
                    if(data != null){
                        self.check_id = '';
                        self.alert_msg = data;
                    }
                },
                error: function(request, status, err) {
                    self.alert_msg = 'URL送信時にエラーが発生しました。';
                }
            });
        },
        // delete_stock
        delStock: function(){
            this.alert_msg = '在庫削除実行中です。けっこう時間かかります。しばらくお待ちください。';
            let formData = new FormData();
            formData.append("id", this.post_id);
            let self = this;
            $.ajax({
                type: 'POST',
                url: '/del_stock',
                data: formData,
                processData: false,
                contentType: false,

                success: function(data) {
                    if(data != null){
                        self.post_id = '';
                        self.alert_msg = '終了しました！！';
                    }
                },
                error: function(request, status, err) {
                    self.alert_msg = 'URL送信時にエラーが発生しました。';
                }
            });
        },
        // check_stock
        delSs: function(){
            this.alert_msg = 'スプレッドシート削除中です。けっこう時間かかります。しばらくお待ちください。';
            let self = this;
            $.get("/del_ss", function(data){
                self.alert_msg = data
            });
        },
        // get_buyma
        getBuyma: function(){
            this.alert_msg = 'BUYMA情報取得中です。けっこう時間かかります。しばらくお待ちください。';
            let self = this;
            $.get("/get_bym", function(data){
                self.alert_msg = data
            });
        },
        stopBuyma: function(){
            this.alert_msg = 'BUYMA出品停止中です。けっこう時間かかります。しばらくお待ちください。';
            let self = this;
            $.get("/stop_bym", function(data){
                self.alert_msg = data
            });
        },
        dataBuyma: function(){
            this.alert_msg = 'BUYMAのデータ保存中です。けっこう時間かかります。しばらくお待ちください。';
            let self = this;
            $.get("/data_bym", function(data){
                self.alert_msg = data
            });
        },
        getBuymaData: function(){
            let self = this;
            $.get("/all_bym_data", function(data){
                self.bym_data = data
            });
        },
        // create_image
        postImage: function(){
            this.alert_msg = '画像加工中です。けっこう時間かかります。しばらくお待ちください。';
            let formData = new FormData();
            formData.append("backgroundimg", this.post_backgroundimg);
            formData.append("title", this.post_title);
            formData.append("font", this.post_font);
            formData.append("pattern", this.post_pattern);
            let self = this;
            $.ajax({
                type: 'POST',
                url: '/post_img',
                data: formData,
                processData: false,
                contentType: false,

                success: function(data) {
                    if(data != null){
                        self.alert_msg = '画像加工ができました。確認してください。';
                    }
                },
                error: function(request, status, err) {
                    self.alert_msg = 'URL送信時にエラーが発生しました。';
                }
            });
        },
        // bland_scraping
        postScraping: function(){
            this.alert_msg = 'BUYMAブランドスクレイピング中です。けっこう時間かかります。しばらくお待ちください。';
            let formData = new FormData();
            formData.append("research_url", this.research_url);
            let self = this;
            $.ajax({
                type: 'POST',
                url: '/bland_research',
                data: formData,
                processData: false,
                contentType: false,

                success: function(data) {
                    if(data != null){
                        self.research_bland_data = data;
                        let sum = 0;
                        var arr = [];
                        for (let i = 0; i < data.length; i++) {
                            let p = Number(data[i].price.replace(/[^0-9]/g, ''));
                            arr.push(data[i].shopper_name);
                            sum += p;
                            };
                        const arr2 = Array.from(new Set(arr))
                        var average = sum / data.length;
                        var shopper_item_num = data.length / arr2.length;
                        self.alert_msg = '平均価格:' + Math.floor(average) + '  　商品数:' + data.length + '  　ショッパー数:' + arr2.length + '    ショッパー当たりの商品数:' + Math.floor(shopper_item_num);
                    }
                },
                error: function(request, status, err) {
                    self.alert_msg = 'URL送信時にエラーが発生しました。';
                }
            });
        },
        // saled_data
        postSaled: function(){
            this.alert_msg = '受注データ取得中です。けっこう時間かかります。しばらくお待ちください。';
            let formData = new FormData();
            formData.append("saled_url", this.saled_url);
            formData.append("saled_bland", this.saled_bland);
            let self = this;
            $.ajax({
                type: 'POST',
                url: '/saled_research',
                data: formData,
                processData: false,
                contentType: false,
                success: function(data) {
                    if(data != null){
                        self.saled_data = data;
                        self.alert_msg = '販売数:' + data.length;
                    }
                },
                error: function(request, status, err) {
                    self.alert_msg = 'URL送信時にエラーが発生しました。';
                }
            });
        },
    },
    created: function(){
        this.getBuymaData();
    }
});


// start Vue.
new Vue({
    el:'#app',
});
</script>
{% endblock %}

{% block footer %}
    copyright 2019 shuji
{% endblock %}